<style>
    /* HTML Set up */
    footer {
        background: #c9c7c7;
        color: #fff;
        margin: 0;
    }

    footer .centered {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    footer .centered .footer-logo {
        width: 20%;
    }

    footer .centered .footer-logo img.logo {
        padding: 30px 20px 10px 20px;
        max-width: 100%;
    }

    footer .centered .footer-contact {
        width: 20%;
    }

    footer .centered .footer-navigation {
        width: 60%;
    }

    footer .centered .footer-navigation .footer-links-holder {
        width: 33.33333%;
        position: relative;
        float: left;
        margin: 0;
    }
    footer .centered .footer-navigation .footer-links-holder .footer-links {
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-transition: max-height .5s;
        transition: max-height .5s;
    }

    /* Responsive Tablet Sizes */
    @media only screen and (max-width: 749px) {
        footer .centered {
            flex-wrap: wrap;
        }

        footer .centered .footer-logo {
            max-width: 250px;
            width: 50%;
        }

        footer .centered .footer-contact {
            width: 50%;
            padding: 0 20px;
        }

        footer .centered .footer-navigation {
            width: 100%;
        }

        footer .centered .footer-navigation .footer-links-holder {
            padding: 0 20px;
        }
    }

    /* Responsive Mobile Sizes */
    @media only screen and (max-width: 500px) {
        footer .centered .footer-logo {
            width: 100%;
            margin: 0 auto;
        }

        footer .centered .footer-contact {
            width: 100%;
        }

        footer .centered .footer-navigation .footer-links-holder {
            width: 100%;
            padding: 0;
        }

        footer .centered .footer-navigation .footer-links-holder h3 {
            margin: 0;
            padding: 10px 20px;
            border-top: #000 1px solid;
            cursor: pointer;
            /* Down Arrows */
        }

        footer .centered .footer-navigation .footer-links-holder h3::after {
            float: right;
            margin-right: 10px;
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-top: 7px;
            width: 7px;
            height: 7px;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            -webkit-transition: transform .5s;
            transition: transform .5s;
        }

        footer .centered .footer-navigation .footer-links-holder .footer-links {
            max-height: 0;
            overflow: hidden;
            padding: 0 20px;
        }

        footer .centered .footer-navigation .footer-links-holder.active h3::after {
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        footer .centered .footer-navigation .footer-links-holder.active .footer-links {
            max-height: 10000px;
        }
    }

    /* Social Icons */
    .social {
        text-align: center;
    }

    .social a {
        display: inline-block;
        padding: 7px;
        width: 35px;
        height: 35px;
        margin: 0 2px;
        background: #fff;
        border-radius: 50%;
        vertical-align: middle;
    }

    .social a:hover {
        background: #65c2ed;
    }

    .social a.linkedin {
        padding: 4px;
    }

    .social a svg .face,
    .social a svg .twit,
    .social a svg .link {
        fill: #000;
    }

    /* Typography */
    footer h3 {
        font-weight: lighter;
        margin-bottom: 0;
    }

    footer p,
    footer li {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 10px 0;
    }

    footer a {
        color: #fff;
        text-decoration: none;
        -webkit-transition: color .5s, background .5s;
        transition: color .5s, background .5s;
    }

    footer a:hover {
        color: #65c2ed;
    }

    /* Misc CSS */
    .clearfix:before,
    .clearfix:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
        clear: both;
    }
</style>
<footer>
    <div class="centered clearfix">
        <div class="footer-contact">
            <h3><a href="">Contact</a></h3>
            <p><a href="mailto:">fake@fake.com</a></p>
            <p><a href="tel:">123-456-7890</a></p>
            <p><a href="">123 Fake St<br />Fake, PA 11111</a></p>
        </div>
        <div class="footer-navigation">
            <div class="footer-links-holder">
                <h3><a href="/spot">資料來源</a></h3>
                <ul class="footer-links">
                    <li><a href="http://data.ntpc.gov.tw/od/search">新北市政府資料平台</a></li>
                    <li><a href="">Page Title 2</a></li>
                    <li><a href="">Page Title 3</a></li>
                    <li><a href="">Page Title 4</a></li>
                </ul>
            </div>
            <div class="footer-links-holder">
                <h3><a href="">Section 2</a></h3>
                <ul class="footer-links">
                    <li><a href="">Page Title 1</a></li>
                    <li><a href="">Page Title 2</a></li>
                    <li><a href="">Page Title 3</a></li>
                    <li><a href="">Page Title 4</a></li>
                </ul>
            </div>
            <div class="footer-links-holder">
                <h3><a href="">Section 3</a></h3>
                <ul class="footer-links">
                    <li><a href="">Page Title 1</a></li>
                    <li><a href="">Page Title 2</a></li>
                    <li><a href="">Page Title 3</a></li>
                    <li><a href="">Page Title 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
<script>
    $(function () {
        $('.footer-links-holder h3').click(function () {
            $(this).parent().toggleClass('active');
        });
    });
</script>