<style>
    .title {
        width: 40%;
        margin: 50px auto;
        text-align: left;
    }

    button {
        margin: 5px;
    }
</style>
<div class="title">
    <h1>請選擇科別及醫生：</h1>
    {{!-- <button type="button" class="btn btn-secondary btn-lg">胸腔科</button>
    <button type="button" class="btn btn-secondary btn-lg">牙科</button> --}}
    <ul class="list-unstyled">
        <li class="media">
            <img src="img/lungs.jpg" class="mr-3" alt="lungs" width="200">
            <div class="media-body">
                <h3 class="mt-0 mb-1">肺科：</h3>
                <button type="button" class="btn btn-info btn-lg">
                    <h4>陳醫師</h4>
                </button>
                <button type="button" class="btn btn-info btn-lg">
                    <h4>陳醫師()</h4>
                </button>
                <button type="button" class="btn btn-info btn-lg">
                    <h4>黃醫師</h4>
                </button>
            </div>
        </li>
        <li class="media my-4">
            <img src="img/teeth.jpg" class="mr-3" alt="teeth" width="200">
            <div class="media-body">
                <h3 class="mt-0 mb-1">牙科：</h3>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#shao"><h4>邵醫師</h4>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="shao" tabindex="-1" role="dialog"
                    aria-labelledby="time" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="time">看診時間</h5>
                            </div>
                            <form action="#" method="get" enctype="multipart/form-data">
                                <div class="modal-body">
                                    
                                    <input type="date" id="time" name="time">
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">預約</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Liao"><h4>廖醫師</h4>
                </button>
            </div>
        </li>
    </ul>
</div>