<style>
    .title {
        width: 70%;
        margin: 50px auto;
        text-align: left;
    }

    button {
        margin: 5px;
    }
    th,td{
        width:300px;
        border: 1px solid;
        font-size :1.5em;
        text-align: center;
    }
    .accordion{
        width: 70%;
        margin: 50px auto;
    }
    .fonts{
        font-size :1em;
        color: black;
    }
</style>
<div class="title">
    <h1>請選擇科別及醫生：</h1>
</div>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link fonts" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" name='sub'>
          <img src="img/lungs.jpg" class="mr-3" alt="lungs" width="150">
          肺科
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
            <th>診室</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="/appointment/hym/108-05-20" name='Monday'>黃大旻</a></td>
            <td></td>
            <td><a href="/appointment/hym/108-05-22">黃大旻</a></td>
            <td></td>
            <td><a href="/appointment/hym/108-05-24">黃大旻</a></td>
            <td><a href="/appointment/hym/108-05-25">黃大旻</a></td>
            <td></td>
        </tr>
        <tr>
            <td>08</td>
            <td></td>
            <td><a href="/appointment/widdy/108-05-21">陳小維</a></td>
            <td><a href="/appointment/widdy/108-05-22">陳小維</a></td>
            <td><a href="/appointment/widdy/108-05-23">陳小維</a></td>
            <td></td>
            <td><a href="/appointment/widdy/108-05-25">陳小維</a></td>
            <td></td>
        </tr>
    </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed fonts" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <img src="img/teeth.jpg" class="mr-3" alt="teeth" width="150">
          牙科
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
            <th>診室</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
        <tr>
            <td>06</td>
            <td></td>
            <td><a href="/appointment/shao/108-05-21">邵柏</a></td>
            <td><a href="/appointment/shao/108-05-22">邵柏</a></td>
            <td><a href="/appointment/shao/108-05-23">邵柏</a></td>
            <td><a href="/appointment/shao/108-05-24">邵柏</a></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>04</td>
            <td><a href="/appointment/chi/108-05-20">廖淇淇</a></td>
            <td><a href="/appointment/chi/108-05-21">廖淇淇</a></td>
            <td></td>
            <td><a href="/appointment/chi/108-05-23">廖淇淇</a></td>
            <td></td>
            <td><a href="/appointment/chi/108-05-25">廖淇淇</a></td>
            <td></td>
        </tr>
    </table>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link fonts" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <img src="img/cavity.jpg" class="mr-3" alt="cavity" width="150">
          胸腔科
        </button>
      </h2>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <table>
        <tr>
            <th>診室</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
        <tr>
            <td>17</td>
            <td><a href="/appointment/tze/108-05-20">陳小澤</a></td>
            <td></td>
            <td><a href="/appointment/tze/108-05-22">陳小澤</a></td>
            <td></td>
            <td><a href="/appointment/tze/108-05-24">陳小澤</a></td>
            <td><a href="/appointment/tze/108-05-25">陳小澤</a></td>
            <td></td>
        </tr>
    </table>
      </div>
    </div>
  </div>
</div>