<style>
    .title{
        width: 60%;
        margin: 20px auto;
        text-align: center;
    }
</style>
<div class="title">
    <h1>歡迎來到AI智慧多功能健檢中心</h1>
</div>
<div class="title">
    <img src="img/hos.jpg" alt="" width="400">
</div>
<div class="title"><h2>我們提供以下服務：</h2></div>
<div class="title">
    <button type="button" class="btn btn-info btn-lg"><i class="fas fa-notes-medical"></i>24小時預約掛號</button>
    <button type="button" class="btn btn-warning btn-lg"><i class="fas fa-user-clock"></i>即時查詢叫號</button>
    <button type="button" class="btn btn-danger btn-lg"><i class="fas fa-stethoscope"></i>症狀查詢</button>
    {{!-- <a href="https://line.me/R/ti/p/%40nmr1767w"><button type="button" class="btn btn-success btn-lg"><i class="fab fa-line"></i>加入好友</button></a> --}}
    
    <button type="button" class="btn btn-primary btn-lg"><i class="far fa-address-card"></i>個人健康存摺</button>
</div>