{{!-- Background css--}}
<link rel="stylesheet" href="/style/sign.css">
{{#if flashMsg}}
    <div class="alert alert-{{flashMsg.type}}">{{flashMsg.msg}}</div>
{{/if}}
{{!-- {{#if loginUser}}
    <h2 style="text-align:center;color:white;">嗨！！！{{loginUser}}歡迎回來</h2>
{{else}} --}}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				{{!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square" id="login-"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
				</div> --}}
			</div>
			<div class="card-body">
				<form method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="ID" name="user" id="user" autocomplete="off">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password" id="password" autocomplete="off">
					</div>
					{{!-- <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> --}}
					<div class="form-group">
						<input type="submit" value="Login" class="login_btn" >
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/signup">Sign Up</a>
				</div>
				{{!-- <div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div> --}}
			</div>
		</div>
	</div>
</div>
{{!-- {{/if}} --}}