<style>
    table{
        width: 70%;
        margin: 50px auto;
        text-align: center;
    }
    th{
        font-size: 2em;
        background-color: aliceblue;
    }
    td{
        font-size: 1.5em;
        background-color:antiquewhite;
    }
</style>
  
<table border="1px solid">
        <caption><h1>現在時間：{{time}}</h1></caption>
    <tr>
        <th>診別</th>
        <th>科別名稱</th>
        <th>醫師姓名</th>
        <th>看診燈號</th>
        <th>備註1</th>
    </tr>
    <tr>
        <td>08</td>
        <td>心臟科</td>
        <td>陳小維</td>
        <td>002</td>
        <td></td>
    </tr>
    <tr>
        <td>04</td>
        <td>氣管科</td>
        <td>廖淇淇</td>
        <td>004</td>
        <td></td>
    </tr>
    <tr>
        <td>17</td>
        <td>胸腔科</td>
        <td>陳小澤</td>
        <td>004</td>
        <td></td>
    </tr>
    <tr>
        <td>06</td>
        <td>牙科</td>
        <td>邵柏</td>
        <td>004</td>
        <td></td>
    </tr>
    <tr>
        <td>10</td>
        <td>肺科</td>
        <td>黃大旻</td>
        <td>003</td>
        <td></td>
    </tr>
</table>