{{!-- Background css--}}

<link rel="stylesheet" href="/style/sign.css">

{{#if msg}}
    <div class="alert alert-{{msg.type}}">{{msg.info}}</div>
{{/if}}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
				{{!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square" id="login-"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>

				</div> --}}
			</div>
			<div class="card-body">
				<form method="post">
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Name" name="name" id="name" autocomplete="off">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="ID" name="user" id="user" autocomplete="off">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" name="password" id="password" autocomplete="off">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-phone-square"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Phone" name="phone" id="phone" autocomplete="off">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Mobile" name="mobile" id="mobile" autocomplete="off">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-venus-mars"></i></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Male or Female" name="sex" id="sex" autocomplete="off">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-address-card"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="address" name="address" id="address" autocomplete="off">
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-calendar"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Birth(Ex:xxxx-xx-xx)" name="Birth" id="Birth" autocomplete="off">
					</div>
					{{!-- <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Line-id" name="line" id="line" autocomplete="off">
					</div> --}}
					{{!-- <div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div> --}}
					<div class="form-group">
						<input type="submit" value="Register" class="login_btn" >
					</div>
				</form>
			</div>

			{{!-- <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div> --}}
		</div>
	</div>
</div>
